//Color Plates
$primaryColor: #578dca;
$secondaryColor: #8abce6;
$variantColor: #1d1934;
$headingColor: #212121;
$textColor: #333333;
$greyColor: #777585;
$greyLight: #a5a3ae;
$lightBackground: #f7f2fa;
$yelloColor: #f7821b;
$pinkColor: #e119a0;
$redColor: #db5461;

//Fonts
$fontPoppins: "Poppins", sans-serif;
